#Environment
.env
entrypoint.sh
Dockerfile
etl_scripts/__pycache__
testing/__pycache__
testing/.pytest_cache

#airflow
airflow/logs/
airflow/dags/__pycache__
airflow/airflow.db
webserver.log
airflow/airflow-webserver.pid
airflow/airflow.cfg
airflow/webserver_config.py

#To Do file
todo.txt